<div><h1>My Bookings</h1>

<!-- index.html.erb -->

<div>
  <h4>Upcomming bookings</h4>
  <% @upcomming_bookings.each do |booking| %>
    <div>
      <ul>
        <li><%= booking.planet.name %></li>
        <li><%= booking.user.email %></li>
        <li><%= booking.planet.location %></li>
        <li><%= booking.start_date %></li>
        <li><%= booking.planet.price %></li>
        <li><%= booking.planet.available_places %></li>
        <li><%= link_to "Delete this Booking", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure ?" } %></li>
      </ul>
    </div>
  <% end %>
</div>

<div>
  <h4>Past bookings</h4>
  <% @past_bookings.each do |booking| %>
    <div>
      <ul>
        <li><%= booking.planet.name %></li>
        <li><%= booking.user.email %></li>
        <li><%= booking.planet.location %></li>
        <li><%= booking.start_date %></li>
        <li><%= booking.planet.price %></li>
        <li><%= booking.planet.available_places %></li>
      </ul>
    </div>
  <% end %>
</div>

<div>
  <% current_user.planets.all.each do |planet| %>
    <ul>
      <h4><%= "My bookings for #{planet.name}" %></h4>
      <% planet.bookings.all.each do |booking| %>
        <div>
          <li><%= booking.user.email %></li>
          <li><%= booking.planet.location %></li>
          <li><%= booking.start_date %></li>
          <li><%= booking.planet.price %></li>
          <li><%= booking.planet.available_places %></li>  
        </div>
      <% end %>
    </ul>
  <% end %>
</div>

