<div class="container">
  <h1 class="text-center my-5">My Bookings</h1>

  <div class="row">
    <div class="col-md-6">
      <h2 class="mb-4">Upcoming Bookings</h2>

      <% if @upcomming_bookings.any? %>
        <% @upcomming_bookings.each do |booking| %>
          <div class="card mb-3 card-booking">
            <div class="card-header bg-primary text-white">
              <%= booking.planet.name %>
            </div>
            <div class="card-body">
              <ul class="list-unstyled">
                <li><strong>Location:</strong> <%= booking.planet.location %></li>
                <li><strong>Start date:</strong> <%= booking.start_date %></li>
                <li><strong>Price:</strong> <%= number_to_currency(booking.planet.price) %></li>
              </ul>
              <%= link_to "Delete this Booking", booking_path(booking), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary rounded w-50 btn-booking" %>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>You don't have any upcoming bookings.</p>
      <% end %>
    </div>

    <div class="col-md-6">
      <h2 class="mb-4">Past Bookings</h2>

      <% if @past_bookings %>
        <% @past_bookings.each do |booking| %>
          <div class="card mb-3 card-booking">
            <div class="card-header bg-secondary text-white">
              <%= booking.planet.name %>
            </div>
            <div class="card-body">
              <ul class="list-unstyled">
                <li><strong>Location:</strong> <%= booking.planet.location %></li>
                <li><strong>Start date:</strong> <%= booking.start_date %></li>
                <li><strong>Price:</strong> <%= number_to_currency(booking.planet.price) %></li>
              </ul>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>You don't have any past bookings.</p>
      <% end %>
    </div>
  </div>
</div>


<div>
  <% current_user.planets.all.each do |planet| %>
    <ul>
      <h4><%= "My bookings for #{planet.name}" %></h4>
      <% planet.bookings.all.each do |booking| %>
        <div>
          <li><%= booking.user.email %></li>
          <li><%= booking.planet.location %></li>
          <li><%= booking.start_date %></li>
          <li><%= booking.planet.price %></li>
          <li><%= booking.planet.available_places %></li>
        </div>
      <% end %>
    </ul>
  <% end %>
</div>
