<div><h1>My Bookings</h1>

<div>
  <h4>Upcomming bookings</h4>
    <% @upcomming_bookings.each do |booking| %>
     <div>
        <ul><%= booking.planet.name %>
     </div>
       <div>
          <li><%= booking.user.username %></li>
          <li><%= booking.planet.location %></li>
          <li><%= booking.start_date %></li>
          <li><%= booking.planet.price %></li>
          <li><%= booking.planet.available_places %></li>
          <li><%=booking.planet.photos.attached? ? (image_tag cl_image_path(booking.planet.photos.first.key)) : (image_tag image_path('default-planet.jpg'))  %></li>
        </div>
      </ul>
    <% end %>
</div>
<div>
  <h4>Past bookings</h4>
    <% @past_bookings.each do |booking| %>
    <div>
        <ul><%= booking.planet.name %>
    </div>
      <div>
          <li><%= booking.user.username %></li>
          <li><%= booking.planet.location %></li>
          <li><%= booking.start_date %></li>
          <li><%= booking.planet.price %></li>
          <li><%= booking.planet.available_places %></li>
          <li><%=booking.planet.photos.attached? ? (image_tag cl_image_path(booking.planet.photos.first.key)) : (image_tag image_path('default-planet.jpg'))  %></li>
        </div>
      </ul>
    <% end %>
</div>

<div>
  <% current_user.planets.all.each do |planet| %>
    <% unless planet.bookings.empty? %>
      <ul><h4><%= "My bookings for #{planet.name}"  %></h4>
      <% planet.bookings.all.each do |booking|%>
      <div>
          <li><%= booking.user.username %></li>
          <li><%= booking.planet.location %></li>
          <li><%= booking.start_date %></li>
          <li><%= booking.planet.price %></li>
          <li><%= booking.planet.available_places %></li>
          <li><%=booking.planet.photos.attached? ? (image_tag cl_image_path(booking.planet.photos.first.key)) : (image_tag image_path('default-planet.jpg'))  %></li>
      </div>
    <% end  %>
    </ul>
    <% end %>
  <% end  %>
</div>
<% console %>
