<div>
  <%= simple_form_for current_user do |f|%>
  <%= f.input :username %>
  <%= f.input :description %>
  <%= f.input :photo, as: :file %>
  <%= f.submit 'Edit my profile',class: 'btn btn-success' %>
  <% end %>
</div>
