<div class="row">
  <div class="col-lg-6 col-md-8 col-sm-10 mx-auto text-center">
    <h1 class="mt-5">Hello <%= current_user.email %></h1>

    <div class="mt-4 mb-5">
      <% if current_user.photo.attached? %>
        <%= image_tag(cl_image_path(current_user.photo.key,
          transformation: [
            {gravity: "face", height: 200, width: 200, crop: "crop"},
            {radius: "max"},
            {width: 150, crop: "scale"}
          ]), class: "rounded-circle shadow-lg avatar-profile" ) %>
      <% else %>
        <%= image_tag("avatar.png", class: "rounded-circle shadow-lg") %>
      <% end %>
    </div>

    <div class="mb-4">
      <%= content_tag :p, current_user.username, class: "lead" %>
    </div>

    <div class="mb-5">
      <%= content_tag :p, current_user.description, class: "text-muted" %>
    </div>

    <div class="mb-5">
      <%= render "form_user" %>
    </div>

    <div class="mb-5">
      <%= link_to "Account settings", edit_user_registration_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
