<div class="scrolling-wrapper">
  <div class="searchbar">
    <div class="planet-cards">
      <div class="planet-card">
        <%= image_tag "p-carbon.svg", class: "planet-size" %>
        <p>Planet type</p>
      </div>
      <div class="planet-card">
        <%= image_tag "p-gas-dwarf.svg", class: "planet-size"%>
        <p>Planet type</p>
      </div>
      <div class="planet-card">
        <%= image_tag "p-desert.svg", class: "planet-size" %>
        <p>Planet type</p>
      </div>
      <div class="planet-card">
        <%=image_tag "p-gas-giant.svg", class: "planet-size" %>
        <p>Planet type</p>
      </div>
      <div class="planet-card">
        <%= image_tag "p-helium.svg", class: "planet-size" %>
        <p>Planet type</p>
      </div>
      <div class="planet-card">
        <%=image_tag "p-ice.svg", class: "planet-size" %>
        <p>Planet type</p>
      </div>
      <div class="planet-card">
        <%= image_tag "p-iron.svg", class: "planet-size" %>
        <p>Planet type</p>
      </div>
      <div class="planet-card">
        <%= image_tag "p-lava.svg", class: "planet-size" %>
        <p>Planet type</p>
      </div>
    </div>
  </div>
</div>
