
<div class="page-container">
  <div class="title">
    <h1>Escape to your own private planet with our out-of-this-world experience!</h1>
  </div>
  <div class="card-grid">
    <% @planets.each do |planet| %>
    <div class="card-item", data-controller="card-item", data-action="click->card-item#searchbar">
      <div class="card-img">
        <% if planet.photos.attached? %>
          <%= link_to image_tag(cl_image_path(planet.photos[0].key, crop: :fill)), planet_path(planet) %>
        <% else %>
          <%= link_to image_tag(asset_path('default-planet.jpg'), class: "img-p"), planet_path(planet) %>
        <% end %>
      </div>
      <div class="card-subtitle">
        <p><%= planet.planet_type %></p>
      </div>
      <div class="card-title">
        <h3><%= link_to planet.name, planet_path(planet) %></h3>
      </div>
      <div class="card-content">
        <p><%= planet.location %></p>
        <p>Available Places:<%= planet.available_places %></p>
      </div>
      <div class="card-price">
        <p><strong><%= planet.price %>€</strong>/per stay</p>
      </div>
      <div class="footer">
      </div>
      </div>
    <% end %>
  </div>
</div>
