    <h1><%= @planet.name %></h1>

    <div class="container">
      <p><%= @planet.summary%></p>
      <p><%= @planet.planet_type%></p>
      <p><%= @planet.inhabitants%></p>
      <p><%= @planet.available_places%></p>
      <p><%= @planet.location%></p>
      <p><%= @planet.price %></p>
    </div>


<%= render 'form_booking' %>
<%= link_to "Delete your planet",
    planet_path(@planet),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>


<%= link_to "Edit", edit_planet_path %>
<%= link_to "Back", planets_path %>
