
<div class="container">

  <div class="row">
    <div class="col-8 show-page">
      <h1><%= @planet.name %></h1>


      <div class="row">
              <% if @planet.photos.attached? %>
                <div class="col-8">
                  <%= cl_image_tag(@planet.photos[0].key, crop: :fill, class: 'photo1') %>
                </div>
                  <div class="col-4">
                    <% @planet.photos[1..].each_with_index do |photo, index| %>
                    <%= cl_image_tag(photo.key, crop: :fill, class: "other photo#{index+2}") %>
                    <% end %>
                  </div>
              <% else %>
                <%= image_tag asset_path('default-planet.jpg'), class:"default-picture" %>
              <% end %>
    </div>



    <div class="container mt-8">
      <p><strong><%= @planet.summary %></strong></p>
      <p>Type: <%= @planet.planet_type %></p>
      <p>Inhabitants: <%= @planet.inhabitants %></p>
      <p>Available places: <%= @planet.available_places %></p>
      <p>Location in the known universe: <%= @planet.location %></p>

    </div>
    </div>





     <div class="border rounded p-4 my-2 show-form col-4">
        <div class="box-show">
        <p><%= sum1 = @planet.price %> € per day</p>

          <%= render "form_booking" %>
        <div class="p-4 mt-2">
          <p>Enjoy a 2 days stay for only <%= @planet.price * 2%> €</p>
          <p>Galaxy border taxes <%= sum2 = @planet.price / 2%> €</p>
          <p>Inland taxes <%= sum3 = @planet.price / 4%> €</p>
            <p class="border-top pt-2">Total <%= sum1 + sum2 + sum3%> €</p>
        </div>
        </div>
      </div>
  </div>

  <% if @planet.user == current_user %>
   <%= link_to "Delete your planet",
                        planet_path(@planet),
                        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }
            %>

  <% else %>

  <% end %>

<div class="planet-actions">
  <% if current_user == @planet.user %>
    <%= link_to "Edit", edit_planet_path(@planet), class: "btn btn-primary" %>
  <% end %>

  <%= link_to "Back", planets_path, class: "btn btn-secondary" %>
  <%= link_to "New Reviews", new_planet_review_path(@planet), class: "btn btn-primary" %>
</div>

<div class="planet-reviews">
  <% @planet.bookings.each do |booking| %>
    <% if booking.review %>
      <div class="booking-review">
      <p style="background-color: #f8f8f8; padding: 10px; border: 1px solid #ccc; color: black;"><%= booking.review.comment %></p>
      </div>
    <% end %>
  <% end %>
</div>

</div>
