    <h1><%= @planet.name %></h1>

    <div class="container">
      <p>Summary: <%= @planet.summary%></p>
      <p>Type: <%= @planet.planet_type%></p>
      <p>Inhabitants: <%= @planet.inhabitants%></p>
      <p>Available places : <%= @planet.available_places%></p>
      <p>Location in the known universe: <%= @planet.location%></p>
      <p>Price: <%= @planet.price %></p>
    </div>


<%= render 'form_booking' %>
<%= link_to "Delete your planet",
    planet_path(@planet),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>



<%= link_to "Back", planets_path %>
