    <h1><%= planet.name %></h1>

    <div class="container">
      <p><%= planet.summary%></p>
      <p><%= planet.summary%></p>
      <p><%= planet.type%></p>
      <p><%= planet.inhabitant%></p>
      <p><%= planet.available_places%></p>
      <p><%= planet.location%></p>
      <p><%= planet.price %></p>
    </div>

<%= link_to "Delete",
    planet_path(planet),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
<%= link_to "Back", planets_path %>
