<h1>Edit Review</h1>

<%= form_with model: [@planet, @review], url: planet_review_path(@planet, @review), method: :patch do |form| %>
  <div>
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div>
    <%= form.label :grade %>
    <%= form.number_field :grade, in: 1..5, step: 1 %>
  </div>

  <%= form.submit %>
<% end %>

<%= link_to 'Back', planet_review_path(@planet, @review) %>
