<% if @planet %>
  <h1>Reviews for <%= @planet.name %></h1>
<% else %>
  <h1>All Reviews</h1>
<% end %>

<ul>
  <% @reviews.each do |review| %>
    <li>
      <p><%= review.content %></p>
      <p>Rating: <%= review.rating %></p>
    </li>
  <% end %>
</ul>

<%= link_to 'New Review', new_planet_review_path(@planet) %>
<%= link_to "list of planets", planets_path %>
