<h1>New Review</h1>

<%= form_with model: @review, url: reviews_path do |form| %>

  <div>
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.label :rating %>
    <%= form.number_field :rating, as: :integer, input_html: { min: '0', max: '5', step: '1' }, placeholder: 'Rate Your Stay.' %>
  </div>

  <%= form.submit %>
<% end %>

<%= link_to 'Back', reviews_path %>
