<!DOCTYPE html>
<html>
  <head>
    <title>Fhloston</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <header class="sticky-header">
      <%= render "shared/navbar" %>
      <%= image_tag 'astroboy.svg', alt: "astonaute", class: "astroboy" %>
      <%= render "shared/searchbar" if  current_page?('/planets') || current_page?('/') %> <%# condition for display none search bar %>
    </header>
    <%= render "shared/flashes" %>
    <%= render "shared/background" %>
    <%= yield %>
  </body>
</html>
